<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinFormsApp4.Properties.Settings.conn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\WinFormsApp4 (2) (1)\WinFormsApp4 (1)\WinFormsApp4\DatabaseXinViec.mdf&quot;;Integrated Security=True" />
    </connectionStrings>
</configuration>